<div class="row">
    <h1>Hard & soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="70"
        [radius]="100"
        [imageSrc]="'assets/Java_logo.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="90"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="' blue '"
        [innerStrokeColor]="' green '"
        [animation]="true"
        [animationDuration]="800"
      ></circle-progress>   
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'assets/css.png'"
        [showImage]="true"
        [imageHeight]="120"
        [imageWidth]="160"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="' blue '"
        [innerStrokeColor]="' green '"
        [animation]="true"
        [animationDuration]="800"
      ></circle-progress>   
    </div> <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="70"
        [radius]="100"
        [imageSrc]="'assets/sql.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="90"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="' blue '"
        [innerStrokeColor]="' green '"
        [animation]="true"
        [animationDuration]="800"
      ></circle-progress>   
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="100"
        [imageSrc]="'assets/Git.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="90"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="' blue '"
        [innerStrokeColor]="' green '"
        [animation]="true"
        [animationDuration]="800"
      ></circle-progress>   
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'assets/1370503.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="' blue '"
        [innerStrokeColor]="' green '"
        [animation]="true"
        [animationDuration]="800"
      ></circle-progress>   
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="100"
        [imageSrc]="'assets/pngwing.com1.png'"
        [showImage]="true"
        [imageHeight]="120"
        [imageWidth]="120"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="' blue '"
        [innerStrokeColor]="' green '"
        [animation]="true"
        [animationDuration]="800"
      ></circle-progress>   
    </div>
</div>
