.row{
    padding: 20px;
    background-color: rgb(0, 208,255);
}
.contenedor{
    width: auto;
}
.parte1, .parte2{
    display: inline-block;
    text-justify: justify;
}
.img-proyecto{
    box-shadow: 30px 30px 50px black;
    box-shadow: ejex ejey difumasion color;
}