<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/WhatsApp Image 2023-04-30 at 17.18.02.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-lg-2">
        <p id="nombre">Robledo Eduardo</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, eligendi quae culpa velit ipsa rem! Similique assumenda reprehenderit, esse reiciendis dignissimos, nam consequuntur maiores deleniti magni necessitatibus omnis id nulla.</p>
        </span>
    </div>
</div>
